@font-face {
  font-family: "BBCReith Bold";
  src: url("../fonts/BBCReithSerif_W_Bd.woff");
}

@font-face {
  font-family: "BBCReith Medium";
  src: url("../fonts/BBCReithSerif_W_Md.woff");
}

@font-face {
  font-family: "Noto Sans Regular";
  src: url("./fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans Bold";
  src: url("../fonts/NotoSans-Bold.ttf");
}

.container {
  width: 1200px;
}

li > a {
  color: #45494f;
}

ul {
  margin-top: 7px;
}

li > p {
  margin-left: 20px;
}

.mobile_on {
  display: none;
}

.mobile_none {
  display: block;
}

img {
  width: auto;
}

.header {
  background: #ffffff;
  font-size: 17px;
}

.header__nav {
  font-family: "Noto Sans Regular";
  border: 2px solid #ffffff;
  margin: 2px;
}

.header__nav:hover {
  color: #2e75ff;
  border: 2px solid #eaedf5;
  box-sizing: border-box;
  border-radius: 8px;
}

.header__nav_item {
  padding: 5px;
}

.header__content {
  display: flex;
  flex-direction: row;
  margin-top: 23px;
  margin-bottom: 24px;
}

.header__content_left_title {
  margin: 80px 0 0 0;
  font-family: "BBCReith Bold";
  font-size: 48px;
  color: #1652ac;
}

.header__content_left_text {
  font-family: "Noto Sans Bold";
  color: #020303;
}

.header__content_left_line {
  border: 7px solid #edeff3;
  width: 227px;
  height: 7px;
  margin-top: 55px;
  margin-bottom: 55px;
}

.energ {
  display: flex;
  flex-direction: row;
}

.energ__right {
  width: 50%;
  padding-left: 50px;
}

.energ__right_title {
  font-family: "BBCReith Bold";
  font-size: 20px;
  line-height: 40px;
  color: #1652ac;
  margin-top: 34px;
  margin-bottom: 23px;
}

.energ__right_text {
  font-family: "Noto Sans Regular";
  font-size: 17px;
  color: #45494f;
}

.energ__right_text_span {
  font-family: "Noto Sans Bold";
}

.energ__left {
  width: 50%;
}

.modern {
  margin-top: 66px;
  margin-bottom: 91px;
  background: #163da1;
  display: flex;
  flex-direction: row;
}

.modern__right_title {
  margin-top: 151px;
  margin-bottom: 22px;
  font-family: "BBCReith Bold";
  font-size: 20px;
  letter-spacing: 2.42px;
  color: #fbfdff;
  padding-left: 10%;
}

.modern__right_text {
  color: #fbfdff;
  font-family: "Noto Sans Regular";
  font-size: 17px;
  line-height: 32px;
  padding-right: 10%;
  padding-left: 10%;
}

.modern__right_text_span {
  font-family: "Noto Sans Bold";
}

.modern__left_img {
  width: 500px;
}

.spezial {
  display: flex;
  flex-direction: row;
  height: 480px;
}

.spezial__left {
  left: 50%;
  margin-left: 126px;
  width: 556px;
}

.spezial__left_title {
  font-family: "BBCReith Bold";
  color: #1652ac;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2.42px;
  padding-right: 95px;
}

.spezial__left_text {
  font-family: "Noto Sans Regular";
  font-size: 17px;
  line-height: 32px;
}

.spezial__left_text_span {
  font-family: "Noto Sans Bold";
}

.spezial__right {
  width: 50%;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.vorteile {
  background: #fbfbfc;
}

.vorteile__title {
  font-family: "BBCReith Medium";
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 4.42px;
  text-align: center;
  margin-top: 67px;
  margin-bottom: 42px;
}

.vorteile__content {
  display: flex;
  flex-wrap: wrap;
}

.vorteile__content_list {
  width: 32%;
  height: 136px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  color: #45494f;
  margin-top: 9px;
  margin-right: 7px;
  position: relative;
}

.vorteile__content_list_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 35px;
}

.vorteile__content_list_text {
  font-family: "Noto Sans Regular";
  font-size: 19px;
  line-height: 32px;
  padding-left: 120px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hauptmerk {
  background-color: #ffffff;
}

.hauptmerk__title {
  text-align: center;
  font-family: "BBCReith Medium";
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 4.42px;
  color: #020303;
  margin-top: 100px;
  margin-bottom: 71px;
}

.hauptmerk__content_list {
  padding-left: 52px;
}

.hauptmerk__content_list_item {
  font-family: "Noto Sans Regular";
  list-style: none;
  font-size: 17px;
  line-height: 35px;
  letter-spacing: -0.4px;
  color: #45494f;
  display: flex;
}

.hauptmerk__content_list_item_span {
  font-family: "Noto Sans Bold";
}

.bilder__title {
  text-align: center;
  margin-top: 74px;
  margin-bottom: 31px;
  font-family: "BBCReith Medium";
  letter-spacing: 4.42px;
  font-size: 28px;
  line-height: 40px;
}

.bilder__slide {
  margin-left: 25%;
}

.bilder__slide_nav {
  display: flex;
}

.bilder__slide_nav_btn {
  width: 126px;
  height: 78px;
  background: #ffffff;
  box-shadow: 0px 0px 21px rgba(64, 68, 75, 0.14);
  border-radius: 8px;
  margin-top: 29px;
  text-align: center;
  padding: 17px;
}

.besucher {
  background: #fbfbfc;
}

.besucher__title {
  font-family: "BBCReith Medium";
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 2.42px;
  padding-top: 78px;
  padding-bottom: 31px;
}

.besucher_content_btn {
  font-family: "BBCReith Medium";
  background: linear-gradient(180deg, #0c5cd6 0%, rgba(0, 56, 140, 0) 100%), #004fc7;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.21);
  border-radius: 12px;
  color: #fafbfe;
  font-size: 17px;
  line-height: 40px;
  letter-spacing: 1.42px;
}

.kontakt {
  margin-top: 155px;
  margin-bottom: 126px;
}

.kontakt__title {
  font-family: "BBCReith Bold";
  font-size: 34px;
  line-height: 43px;
  letter-spacing: -0.4px;
  color: #1652ac;
  margin-top: 73px;
}

.kontakt__text {
  font-family: "Noto Sans Regular";
  font-size: 17px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #464c53;
  padding-right: 40px;
}

.kontakt__text_btn {
  background: linear-gradient(180deg, #0c5cd6 0%, rgba(0, 56, 140, 0) 100%), #004fc7;
  font-family: "BBCReith Medium";
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(48, 67, 133, 0.5);
  border-radius: 12px;
  width: 306px;
  height: 69px;
  position: relative;
}

.kontakt__text_btn_arrows {
  position: absolute;
  left: 0;
  top: 0;
}

.kontakt__logo1 {
  margin-top: 60px;
}

.footer {
  margin-bottom: 56px;
  font-family: "Noto Sans Regular";
  font-size: 17px;
  color: #9eabbb;
}

.footer__title {
  font-family: "Noto Sans Bold";
  color: #a3adba;
}

.footer__textdekor {
  text-decoration: underline;
}

.footer__black {
  color: black;
}

.footer__grey {
  color: #9eabbb;
  text-decoration: underline;
}

.footer__pad {
  height: 25px;
}

@media screen and (max-width: 989px) {
  .mobile_none {
    display: none;
  }
  .mobile_on {
    display: block;
  }
  .header__content {
    display: flex;
    flex-direction: column;
  }
  .header__content_left_title {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.4px;
  }
  .header__content_left_line {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .energ {
    display: block;
  }
  .energ__right {
    width: 100%;
    padding: 5px;
  }
  .energ__right_title {
    text-align: center;
  }
  .energ__left {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */