.besucher {
  background: #fbfbfc;
  &__title {
    font-family: "BBCReith Medium";
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2.42px;
    padding-top: 78px;
    padding-bottom: 31px;
    color: #020303;
  }
  &_content {
    &_btn {
      width: 33%;
      font-family: "BBCReith Medium";
      background: linear-gradient(180deg, #0c5cd6 0%, rgba(0, 56, 140, 0) 100%),
        #004fc7;
      border: 2px solid #ffffff;
      box-sizing: border-box;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.21);
      border-radius: 12px;
      color: #fafbfe;
      font-size: 17px;
      line-height: 40px;
      letter-spacing: 1.42px;
    }
  }
}
