.spezial {
  @include flexRow;
  height: 480px;
  &__left {
    left: 50%;
    margin-left: 126px;
    width: 556px;
    &_title {
      font-family: "BBCReith Bold";
      color: #1652ac;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: 2.42px;
      padding-right: 95px;
      text-align: center;
    }
    &_text {
      font-family: "Noto Sans Regular";
      font-size: 17px;
      line-height: 32px;
      &_span {
        font-family: "Noto Sans Bold";
      }
    }
  }
  &__right {
    width: 50%;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-position: right center;
  }
}
