@font-face {
  font-family: "BBCReith Bold";
  src: url("./fonts/BBCReithSerif_W_Bd.woff");
}

@font-face {
  font-family: "BBCReith Medium";
  src: url("./fonts/BBCReithSerif_W_Md.woff");
}

@font-face {
  font-family: "Noto Sans Regular";
  src: url("./fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Noto Sans Bold";
  src: url("./fonts/NotoSans-Bold.ttf");
}

li > a {
  color: #45494f;
}

ul {
  margin-top: 7px;
}

.logo {
  margin-right: 70px;
}

li > p {
  margin-left: 20px;
}
