.header {
  background: #ffffff;
  font-size: 17px;
  &__nav {
    font-family: "Noto Sans Regular";
    border: 2px solid #ffffff;
    margin: 2px;
    &:hover {
      color: #2e75ff;
      border: 2px solid #eaedf5;
      box-sizing: border-box;
      border-radius: 8px;
    }

    &_item {
      padding: 5px;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    margin-top: 23px;
    margin-bottom: 24px;
    &_left {
      &_title {
        margin: 80px 0 0 0;
        font-family: "BBCReith Bold";
        font-size: 48px;
        color: #1652ac;
      }
      &_text {
        font-family: "Noto Sans Bold";
        color: #020303;
      }
      &_line {
        @include line;
      }
    }
  }
}

@media screen and (max-width: 989px) {
  .header {
    &__content {
      display: flex;
      flex-direction: column;
      &_left {
        &_title {
          font-size: 34px;
          line-height: 40px;
          text-align: center;
          letter-spacing: -0.4px;
        }
        &_line {
          margin-left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
